language: c

env:
  - SECRETS_GPG_COMMAND=gpg
  - SECRETS_GPG_COMMAND=gpg2
    
branches:
  only:
    - master
    - develop

install:
  - test $SECRETS_GPG_COMMAND = gpg2 && sudo apt-get install gnupg2
  - make install-test

script:
  - make test

notifications:
  email:
    on_success: never
    on_failure: change
