
name: build-man

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**/*'
  pull_request:
    paths:
      - 'docs/**/*'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-man:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Checks that manual generation works
      run: make build-man
