name: github-pages

on:
  push:
    branches:
      - master
    paths:
      - 'man/**'
      - 'docs/**'
      - 'utils/*/install.sh'

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build docs
      run: make build-docs

    - name: Deploy to Pages
      uses: JamesIves/github-pages-deploy-action@v4.2.2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages # The branch the action should deploy to.
        folder: docs # The folder the action should deploy.
        clean: true # Automatically remove deleted files from the deploy branch
