name: release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.run_id }}

jobs:
  release-packages:
    environment:
      name: artifactory
      url: https://gitsecret.jfrog.io/artifactory

    runs-on: ubuntu-latest
    strategy:
      matrix:
        release-type:
          - apk
          # - deb
          # - rpm
    steps:
    - uses: actions/checkout@v6
    - name: Run checks
      run: SECRETS_RELEASE_TYPE="${{ matrix.release-type }}" make release
      env:
        SECRETS_ARTIFACTORY_CREDENTIALS: ${{ secrets.SECRETS_ARTIFACTORY_CREDENTIALS }}

  # github-release:
  #   runs-on: ubuntu-latest
  #   needs: ['release-packages']
  #   steps:
  #   - uses: actions/checkout@v6
  #   - run: make changelog
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #   - uses: softprops/action-gh-release@v1
  #     with:
  #       # Generated above by `make changelog`:
  #       body_path: CHANGELOG-RELEASE.md
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
