name: release-ci

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - release-type: deb
            release-env: debian
          - release-type: deb
            release-env: ubuntu
          - release-type: rpm
            release-env: centos
          - release-type: rpm
            release-env: fedora

    steps:
    - uses: actions/checkout@v2
    - name: Run checks
      run: |
        SECRETS_RELEASE_ENV="${{ matrix.release-env }}" \
        SECRETS_RELEASE_TYPE="${{ matrix.release-type }}" \
        make release-ci
