name: test

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:

concurrency: 
  group: ${{ github.head_ref || github.run_id }}-test
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Shellcheck and Hadolint
      run: make lint

  docker-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-env:
          - alma
          - alpine
          - arch
          - debian-gnupg1  # We need to test legacy version of gnupg
          - debian-gnupg2
          - fedora
          - rocky
          - ubuntu
    steps:
    - uses: actions/checkout@v3
    - name: Run checks
      run: SECRETS_DOCKER_ENV="${{ matrix.docker-env }}" make docker-ci

  osx-ci:
    runs-on: macos-latest
    strategy:
      matrix:
        test-verbose: [0, 1]
    steps:
    - uses: actions/checkout@v3
    - name: Show env vars
      run: printenv
    - name: Install deps
      run: brew install gawk gnupg
    - name: Run checks
      run: TERM=ansi SECRETS_TEST_VERBOSE=${{ matrix.test-verbose }} make test
