name: test

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:

concurrency: 
  group: ${{ github.head_ref || github.run_id }}-test
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Shellcheck and Hadolint
      run: make lint

  docker-ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        docker-env:
          - alma
          - alpine
          #- arch           # disable arch testing for now, see #916
          - debian-gnupg1  # We need to test legacy version of gnupg
          - debian-gnupg2
          - fedora
          - rocky
          - ubuntu
    steps:
    - uses: actions/checkout@v5
    - name: Run checks
      run: |
        whoami
        pwd
        SECRETS_TEST_VERBOSE=1 SECRETS_DOCKER_ENV="${{ matrix.docker-env }}" make docker-ci
        # SECRETS_TEST_VERBOSE=1 above made alpine tests work once, otherwise it fails 3 tests. 
        # BUT we could not reproduce this

  osx-ci:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        test-verbose: [0, 1]
    steps:
    - uses: actions/checkout@v5
    - name: Install deps
      run: brew install gawk gnupg
    - name: Run checks
      run: SECRETS_TEST_VERBOSE=${{ matrix.test-verbose }} make test

  freebsd-ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run checks
      id: test
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: pkg install -y gnupg bash gmake git gawk
        run: |
          which -a bash
          which -a shell
          whoami
          env
          freebsd-version
          gmake test

  windows-wsl-ci:
    runs-on: windows-latest
    steps:
    - uses: Vampire/setup-wsl@v6
      with: 
        update: 'true'
        additional-packages: gnupg make man git gawk file
    - run: git config --global core.autocrlf input
    - uses: actions/checkout@v5
    - shell: wsl-bash {0}
      run: make test
